*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: #bdc3c7;
	
}

.letra1
{
   position: relative;
	left: 500px;
	top: 100px;
	height: 101px;
	width: 177px;
	font-family: stencil;
	flex-direction: column;

}

.cm1
{
	position: relative;
	top: 180px;
	background: url(cm1.png);
	height: 101px;
	width: 177px;
	color:  #bdc3c7;
	font-family: arial;
	left: 110px;
}

.cm1:hover
{
	position: relative;
	top: 180px;
	background: url(cm1.png);
	height: 101px;
	width: 177px;
	color: black;
	font-family: arial;
	left: 110px;
}

.letraa1
{
	position: relative;
	left: 10px;
	top: 120px;
}

.f1
{
	position: relative;
	top: -150px;
	background: url(f1.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color:  #bdc3c7;
	font-family: arial;
	left: 430px;
}

.f1:hover
{
	position: relative;
	top: -150px;
	background: url(f1.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color: black;
	font-family: arial;
	left: 430px;
}

.letraa2
{
	position: relative;
	left: 30px;
	top: 130px;	
}

.ej1
{
	position: relative;
	top: -30px;
	background: url(ej1.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color:  #bdc3c7;
	font-family: arial;
	left: 530px;
}

.ej1:hover
{
	position: relative;
	top: -30px;
	background: url(ej1.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color: black;
	font-family: arial;
	left: 530px;
	background: url(tindice.png);
	height: 116px;
	width: 295px;
}

.letraa3
{
	position: relative;
	left: 100px;
	top: 60px;	
}

.cm2
{
	position: relative;
	top: 480px;
	background: url(cm2.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color:  #bdc3c7;
	font-family: arial;
	left: -970px;
}

.cm2:hover
{
	position: relative;
	top: 480px;
	background: url(cm2.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color: black;
	font-family: arial;
	left: -970px;
}

.letraa4
{
	position: relative;
	left: 10px;
	top: 110px;	
}

.f2
{
	position: relative;
	top: -180px;
	background: url(f2.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color:  #bdc3c7;
	font-family: arial;
	left: 450px;
}

.f2:hover
{
	position: relative;
	top: -180px;
	background: url(f2.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color: black;
	font-family: arial;
	left: 450px;
}

.letraa5


{
	position: relative;
	left: 20px;
	top: 100px;	
}

.ej2
{
	position: relative;
	top: -80px;
	background: url(ej2.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color:  #bdc3c7;
	font-family: arial;
	left: 400px;
}

.ej2:hover
{
	position: relative;
	top: -80px;
	background: url(ej2.png);
	height: 101px;
	width: 177px;
	background-repeat: no-repeat;
	color: black;
	font-family: arial;
	left: 400px;
	background: url(fbusv.png);
	height: 155px;
	width: 385px;
}

.letraa6


{
	position: relative;
	left: 100px;
	top: 60px;	
}

.b1
{
   	position: absolute;
	top: 250px;
	left: 0px;
	background: #7f8c8d;
	color: #fff;
	display: inline-block;
	font-size: 1.25em;
	margin: 20px;
	padding: 10px 0px;
	border-radius: 10px;
	text-align: center;
	width: 200px;
	text-decoration: none;
	box-shadow: 0px 3px 0px #373c3c;
}










