body
{
	background: #bdc3c7;


}

.r2
{
   position: relative;
	left: 450px;
	top: 40px;
	height: 430px;
	width: 400px;
	font-family: stencil;
	flex-direction: column;
	text-align: center;

}

.v2{
   	position: absolute;
	top: 850px;
	left: 540px;
	background: #7f8c8d;
	color: #fff;
	display: inline-block;
	font-size: 1.25em;
	margin: 20px;
	padding: 10px 0px;
	border-radius: 10px;
	text-align: center;
	width: 200px;
	text-decoration: none;
	box-shadow: 0px 3px 0px #373c3c;
}
#l1
{

     position: absolute;
    width: 150px;
    height: 150px;
    background-color: #7f8c8d;
    position:relative;
    border-radius:20px;
    border-style:double;
    border-width:7px;
    border-color:#292929;
    top: -200px;
	left: 50px;
    font-family:Bahnschrift Light;
    font-size:27px;

}


#l2
{

	position: absolute;
    width: 150px;
    height: 150px;
    background-color: #7f8c8d;
    position:relative;
    border-radius:20px;
    border-style:double;
    border-width:7px;
    border-color:#292929;
    top: -350px;
	left: 600px;
    font-family:Bahnschrift Light;
    font-size:27px;
}

#l3
{
     width: 150px;
    height: 150px;
    background-color: #7f8c8d;
    position:relative;
    border-radius:20px;
    border-style:double;
    border-width:7px;
    border-color:#292929;
    top: -500px;
    left: 1200px;
    font-family:Bahnschrift Light;
    font-size:27px;

}

#l4
{
     width: 150px;
    height: 150px;
    background-color: #7f8c8d;
    position:relative;
    border-radius:20px;
    border-style:double;
    border-width:7px;
    border-color:#292929;
    top: -250px;
    left: 50px;
    font-family:Bahnschrift Light;
    font-size:27px;

}

#l5
{
	 width: 150px;
    height: 150px;
    background-color: #7f8c8d;
    position:relative;
    border-radius:20px;
    border-style:double;
    border-width:7px;
    border-color:#292929;
    top: -400px;
    left: 600px;
    font-family:Bahnschrift Light;
    font-size:27px;
}

#l6
{
	 width: 150px;
    height: 150px;
    background-color: #7f8c8d;
    position:relative;
    border-radius:20px;
    border-style:double;
    border-width:7px;
    border-color:#292929;
    top: -540px;
    left: 1200px;
    font-family:Bahnschrift Light;
    font-size:27px;
}


